@model dev_backend_habitly_eixo2.Models.PreferenciasUsuario

@{
    ViewData["Title"] = "Configurar Preferências";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["MensagemSucesso"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["MensagemErro"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

<h1 class="mb-3">Configurar Preferências</h1>

<form asp-action="Create" method="post" class="col-md-6">

    <div class="mb-3">
        <label class="form-label">Tema</label>
        <select asp-for="Tema" class="form-select">
            <option>Claro</option>
            <option>Escuro</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Idioma</label>
        <select asp-for="Idioma" class="form-select">
            <option>pt-BR</option>
            <option>en-US</option>
        </select>
    </div>

    <div class="form-check mb-3">
        <input asp-for="NotificacoesAtivas" type="checkbox" class="form-check-input" />
        <label asp-for="NotificacoesAtivas" class="form-check-label"></label>
    </div>

    <input type="hidden" asp-for="IdUsuario" />

    <button type="submit" class="btn btn-primary mt-2">Salvar</button>
</form>
