@model dev_backend_habitly_eixo2.Models.PreferenciasUsuario

@{
    ViewData["Title"] = "Editar Preferências";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-3">Editar Preferências</h1>

<form asp-action="Edit" method="post" class="col-md-6">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>


    <input type="hidden" asp-for="IdPreferencia" />
    <input type="hidden" asp-for="IdUsuario" />


    <div class="mb-3">
        <label asp-for="Tema" class="form-label"></label>
        <select asp-for="Tema" class="form-select" asp-items="ViewBag.Temas"></select>
        <span asp-validation-for="Tema" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input asp-for="NotificacoesAtivas" class="form-check-input"></input>
        <label asp-for="NotificacoesAtivas" class="form-check-label"></label>
    </div>


    <div class="mb-3">
        <label asp-for="Idioma" class="form-label"></label>
        <select asp-for="Idioma" class="form-select" asp-items="ViewBag.Idiomas"></select>
        <span asp-validation-for="Idioma" class="text-danger"></span>
    </div>

    @if (ViewBag.IdUsuario != null)
    {
        <div class="mb-3">
            <label asp-for="IdUsuario" class="form-label"></label>
            <select asp-for="IdUsuario" class="form-select" asp-items="ViewBag.IdUsuario"></select>
            <span asp-validation-for="IdUsuario" class="text-danger"></span>
        </div>
    }

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="/Habitos" class="btn btn-secondary ms-2">Voltar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
