@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo ao Habitly!</h1>
    <p>Aprenda sobre <a href="https://docs.microsoft.com/aspnet/core">construção de apps com o ASP.NET Core</a>.</p>
</div>
