@{
    ViewData["Title"] = "Home Page";
}
<style>

    h1 {
        font-size: 85px;
        color: #007A80;
        position: absolute;
        top: 60px;
        left: 20px;
        z-index: 1000;
        margin: 0; 
    }



    .header-buttons {
        position: absolute;
        top: 85px;
        right: 20px;
        z-index: 1000;
    }


    .btn {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 6px;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-left: 10px; 
    }

 
    .login {
        color: #007A80;
        border: 2px solid #007A80;
        background-color: transparent;
    }

        .login:hover {
            background-color: #007A80;
            color: white;
        }


    .cadastro {
        color: white;
        background-color: #007A80;
        border: 2px solid #007A80;
    }

        .cadastro:hover {
            opacity: 0.9;
        }


    .text-center {

        padding-top: 200px;
        padding-bottom: 80px;
        background-color: #FFF;
        min-height: 100vh;
        font-size: 40px;
    }


        .text-center p {
            font-size: 28px;
            color: #495057;
            max-width: 800px;
            margin: 20px auto 0 auto;
        }
</style>

<h1>Habitly!</h1>

<div class="header-buttons">
    <a href="#" class="btn login">Login</a>
    <a href="#" class="btn cadastro">Cadastro</a>
</div>

<div class="text-center">
    <p>Quer começar a ler mais, se exercitar diariamente ou aprender um novo idioma? O Habitly é seu parceiro ideal. Acompanhe seu progresso, defina metas claras e mantenha sua motivação em alta. O futuro é a soma dos seus hábitos.</p>
</div>
