@model dev_backend_habitly_eixo2.Models.Checkin

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Checkin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCheckin" class="control-label"></label>
                <input asp-for="IdCheckin" class="form-control" />
                <span asp-validation-for="IdCheckin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHabito" class="control-label"></label>
                <select asp-for="IdHabito" class ="form-control" asp-items="ViewBag.IdHabito"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataCheckin" class="control-label"></label>
                <input asp-for="DataCheckin" class="form-control" />
                <span asp-validation-for="DataCheckin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
