@model IEnumerable<dev_backend_habitly_eixo2.Models.Checkin>

<h2>Meus Check-ins</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Hábito</th>
            <th>Data do Check-in</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Habito?.TituloHabito</td>
                <td>@c.DataCheckin.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Habitos" asp-action="Index" class="btn btn-outline-secondary mt-2">⬅️ Voltar aos hábitos</a>
